.title {
    text-align: center;
    background-color: darkgreen;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}
body {
    text-align: center;

}
.list {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home {
    margin-right: 1300px;
    color: black;
}